.App {
  text-align: Center;
  font-size:50px;
  margin-top:2px;
 
}

p{
  font-size: 20px;
  margin-top: 0px;
  color:red;
}
 
 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
